<div class="grid-container">
  <div class="filter-container">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Juan..." #input>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="idPago">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.idPago}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
      </ng-container>

      <ng-container matColumnDef="metodoPago">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Método de pago </th>
        <td mat-cell *matCellDef="let row"> {{row.metodoPago | titlecase }}  </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{ row.fecha | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="totalPago">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let row"> {{ row.totalPago  | currency: 'ARS': 'symbol' }} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" *ngIf="input.value" colspan="4">No se encontró resultado para "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of pagos"></mat-paginator>
  </div>
</div>
