<div class="grid-container">


  <mat-grid-list cols="2" rowHeight="480px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
          <mat-card-header>
         <mat-card-title>
          {{card.title }}
          <!--  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>-->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" [ngSwitch]="card.title">

          <app-chart-basic-deuda *ngSwitchCase="'Clientes con más deuda acumulada'" />
          <app-chart-line-ingreso *ngSwitchCase="'Ingreso por mes'" />
          <app-chart-basic-compras *ngSwitchCase="'Cantidad ventas y productos por cliente'" />
          <app-chart-productos-mas-vendidos *ngSwitchCase="'Productos más comprados por clientes'" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
