
<mat-form-field class="ml-6">
  <mat-label>Rango de fechas</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Inicio" (dateChange)="onStartDateChange($event)">
    <input matEndDate placeholder="Fin" (dateChange)="onEndDateChange($event)">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<p-chart type="bar" [data]="data" [options]="options" [responsive]="true" width="250"></p-chart>
